@font-face{
    font-family: 'NeurialGroteskBold';
    src: url('../fonts/NeurialGroteskBold.eot');
    src: url('../fonts/NeurialGroteskBold.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskBold.woff2') format('woff2'),
         url('../fonts/NeurialGroteskBold.woff') format('woff'),
         url('../fonts/NeurialGroteskBold.ttf') format('truetype'),
         url('../fonts/NeurialGroteskBold.svg#NeurialGroteskBold') format('svg');
}
@font-face{
    font-family: 'NeurialGroteskMedium';
    src: url('../fonts/NeurialGroteskMedium.eot');
    src: url('../fonts/NeurialGroteskMedium.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskMedium.woff2') format('woff2'),
         url('../fonts/NeurialGroteskMedium.woff') format('woff'),
         url('../fonts/NeurialGroteskMedium.ttf') format('truetype'),
         url('../fonts/NeurialGroteskMedium.svg#NeurialGroteskMedium') format('svg');
}
@font-face {
    font-family: 'NeurialGroteskRegular';
    src: url('../fonts/NeurialGroteskRegular.eot');
    src: url('../fonts/NeurialGroteskRegular.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskRegular.woff2') format('woff2'),
         url('../fonts/NeurialGroteskRegular.woff') format('woff'),
         url('../fonts/NeurialGroteskRegular.ttf') format('truetype'),
         url('../fonts/NeurialGroteskRegular.svg#NeurialGroteskRegular') format('svg');
}
@font-face {
    font-family: 'NeurialGroteskLight';
    src: url('../fonts/NeurialGroteskLight.eot');
    src: url('../fonts/NeurialGroteskLight.eot') format('embedded-opentype'),
         url('../fonts/NeurialGroteskLight.woff2') format('woff2'),
         url('../fonts/NeurialGroteskLight.woff') format('woff'),
         url('../fonts/NeurialGroteskLight.ttf') format('truetype'),
         url('../fonts/NeurialGroteskLight.svg#NeurialGroteskLight') format('svg');
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'NeurialGroteskRegular';
    color: #000000;
}
.owl-one.owl-carousel .owl-item{
    border-radius: 20px;
    border: 1px solid #dddddd;
    overflow: hidden;
}
.thumbnail-box-style .recommended-box {
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
}
.recommended-box p{
    margin-bottom: 0px;
    font-size: 18px;
}
.thumcontent p{
    margin-bottom: 0px;
    font-size: 18px;
}
.thumbnail-box-style .recommended-box h6{
    padding: 0px;
    background: transparent;
    margin-bottom: 10px;
}
.gift-cards-slider .owl-carousel .owl-item .item{
    text-align: center;
}
.thumbicon img{
    max-width: 100%;
    width: auto;
}
.highlights-video iframe{
    width: 100%;
    height: 335px;
    border-radius: 25px;
}
.gift-cards-slider .owl-carousel .owl-item img{
    width: auto !important;
    max-width: 100% !important;
    margin: auto;
}
.qrcode .img-fluid{
    width: auto !important;
}
.modal-body iframe{
    width: 100%;
    height: 450px;
}
.gift-cards-slider .owl-three.owl-carousel button{
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #F51E52;
    border-radius: 100px;
    margin: 0px 4px;
}
.gift-cards-slider .owl-three.owl-carousel button.owl-dot.active {
    background: #F51E52;
}
.gift-cards-slider .owl-nav{
    display: none;
}

.btn.big-btn.square-btn{
    color: #ffffff;
}
.home-page .banner-section-wrapper h1{
    color: #000000;
    text-align: center;
}
.btn.square-btn{
    background: #211C1D;
    border-radius: 10px;
}
.navbar-expand-md .navbar-nav .nav-link{
    color: #000000;
}
.orange-bg-color{
    background-image: url(../images/whyeasy-bg.png);
    background-size: 100%;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 30px;
    font-family: 'NeurialGroteskMedium';
}
.management-thumb-style .thumbicon{
    margin-right: 0px;
}
.spaceleft-right{
    padding: 0px 60px;
}
.social-icons {
    margin-right: 30px;
}
.social-icons ul {
    margin: 0px;
    padding: 0px;
}
.social-icons ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}
.social-icons ul li a {
    color: #000000;
    font-size: 20px;
}
.btn.phnobtn{
    border: none;
    background: #000000;
    color: #ffffff;
    font-weight: 700;
    margin-right: 10px;
    border: 0px solid #ffffff;
}
.btn.phnobtn:hover{
    background: #F51E52;
}
.btn{
    background: #F51E52;
    border-radius: 30px;
    width: 171px;
    font-size: 18px;
    padding: 15px 10px;
    border: 0px;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
}
.btn:hover{
    background-color: #000000;
    border-color:#000000;
    border: 0px solid;
    color: #ffffff;
}
header .btn:hover{
    background-color: #000000;
    border-color:#ffffff !important;
    border: 0px solid;
    color: #ffffff !important;
}
.navbar-collapse{
    z-index: 10;
}
.phnobtn{
    width: 220px;
}
.color-white{
    color: #ffffff;
}
.margin-top-70{
    margin-top: 70px;
}
.background-trasparent{
    background-color: transparent !important;
}
.margin-top-150{
    margin-top: 150px;
}
.banner-section-wrapper{
    padding: 250px 0px 20px;
    background-repeat: no-repeat;
    background-position:top center !important;
    background-size: cover !important;
}
.home-page{
    background-image: url("../images/homebg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.appointment-management-page{
    background-image: url("../images/appointment-management-page.jpg");
    background-repeat: no-repeat;
}
.gift-card-page{
    background-image: url("../images/gift-cards.png");
    background-repeat: no-repeat;
}
.yellow-bgg .banner-section-wrapper{
    background-image: url(../images/bannerbg-yellow.png) !important;
    margin: 0px !important;
    border-radius: 0px !important;
}
.property-management-page{
    background-image: url(../images/property-page-bgg.png) !important;
    background-repeat: no-repeat;
}
.employment-page{
    background-image: url(../images/emp-pg.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.billing-payments-page{
    background-image: url(../images/billing-payments-bgg.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.inventory-management-page{
    background-image: url(../images/inventory-management.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.spa-page{
    background-image: url(../images/spabg.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.tattoo-page{
    background-image: url(../images/tattobg.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.nail-page{
    background-image: url(../images/nailbg.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.carspa-page{
    background-image: url(../images/carspabg.png) !important;
    background-position: top left;
    background-repeat: no-repeat;
}
.property-management-page .banner-section-wrapper{
    margin: 0px !important;
    border-radius: 0px !important;
}
.appointment-management-page .banner-section-wrapper{
    margin: 0px !important;
    border-radius: 0px !important;
}
.banner-section-wrapper.rounded-corner-banners.sellgift-banner{
    background-image: url(../images/gift-banner.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.employee-banner{
    background-image: url(../images/employee-banner.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.billingpayment-banner{
    background-image: url(../images/billingpayment-banner.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.report-graph-banner{
    background-image: url(../images/report-graph-banner.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.inventory-management-banner{
    background-image: url(../images/inventory-management-bannerbg.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.tattoo-banner{
    background-image: url(../images/greenbanner-bg.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.carspa-banner{
    background-image: url(../images/carspa-bg.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.petbg-banner{
    background-image: url(../images/petbg.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.banner-section-wrapper.rounded-corner-banners.darkblue-bg{
    background-image: url(../images/darkblue-bg.png) !important;
    border-radius: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
}
.darkblue-bg-color{
    background-color: #00B9E8;
}
.darkblue-gradiant{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 0%, rgba(0, 185, 232, 0.15) 100%);
}
.darkpurple-bg-color{
    background-color: #5C4AF9 !important;
}
.purple-gradiant-color{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 10.94%, rgba(90, 131, 255, 0.15) 100%);
}
.green-gradiant-color{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 10.94%, rgba(48, 200, 34, 0.15) 100%);
}
.darkgreen-bg-color{
    background-color: #30c922;
}
.light-greentwo-color{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 10.94%, rgba(39, 222, 191, 0.15) 100%);
}
.skyblue-bg-color{
    background-color: #50c4fe;
}
.greentwo-bg-color{
    background-color: #27DEBF;
}
.light-blue-color{
    background-color: #E5EEFF;
}
.blue-bg-color{
   background-color: #407bff;
}
.banner-section-wrapper h1{
    font-weight: 700;
    font-size: 80px;
    font-family: 'NeurialGroteskBold';
    color: #000000;
}
.banner-section-wrapper img{
    width: 100%;
}
.header-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 20px 0px 0px;
}
.btn.grey-button{
    width: 330px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.btn.grey-button{
    color: #000000;
}
.button-group.banner-button .btn{
    font-size: 22px;
    margin-right: 40px;
    font-family: 'NeurialGroteskMedium';
}
.button-group.banner-button{
    margin-top: 60px;
    text-align: center;
}
.btn.bookdemo{
    font-size: 22px;
    width: 220px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.btn.grey-button:hover{
    color: #ffffff;
    background-color: #F51E52;
}
.btnimg img{
    width: auto;
    height: 90px;
}
.qrcode-section-wrapper .qrcode{
    text-align: center;
    position: relative;
}
.qrcode-section-wrapper .qrcode .gift-image{
    position: absolute;
    right: -50px;
    bottom: -50px;
}
.qrcode-content p{
    font-weight: 400;
    font-size: 35px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin: 60px 0px 0px;
}
.unique-qr-portal h2{
    font-size: 60px;
    font-family: 'NeurialGroteskBold';
    text-align: center;
    color: #000000;
}
.unique-qr-portal{
    padding: 100px 0px 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: #E5EEFF;
}
.thumb-style{
    background: #ffffff;
    border-radius: 28px;
    padding: 40px 30px;
    position: relative;
    margin-bottom: 40px;
    height: 472px;
    display: flex;
    align-items: center;
}
.thumb-style h5{
    font-weight: 500;
    font-size: 25px;
    font-family: 'NeurialGroteskBold';
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #000000;
}
.thumb-style p{
    font-size: 18px;
    line-height: 30px;
}
.thumbicon{
    margin-bottom: 30px;
    margin-right: 30px;
}
.thumb-style a {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
}
.unique-qr-portal .thumbnail-row{
    margin-top: 70px;
}
.getbest-section-title h2{
    font-family: 'NeurialGroteskBold';
    font-size: 50px;
    line-height: 70px;
    color:#000000;
    font-weight: 700;
}
.recommended-box {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
}
.recommended-box h6 {
    background-color: #ffffff;
    margin: 0px;
    padding: 20px;
    color: #0F2137;
    font-size: 22px;
    font-weight: 600;
}
.getbest-section-wrapper{
    position: relative;
    z-index: 2;
    background-image: url("../images/getbest.png");
    padding: 100px 0px 60px;
}
.thumb-stack .thumbicon{
    margin: 0px 0px 30px;
    height: 145px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.unique-qr-portal.retain-more-clients-section{
    padding: 100px 0px 0px;
    position: relative;
    z-index: 1;
    background: #ffffff;
}
.getbest-thumbnail h6{
    font-size: 30px;
    font-family: 'NeurialGroteskMedium';
}
.getbest-thumbnail{
    text-align: center;
    margin-bottom: 80px;
}
.getbest-thumbnail-wrapper{
    padding: 40px 0px;
}
.thumb-stack{
    flex-direction: column;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 10px #dddddd;
}
.layerbg-bottom{
    background-image: url("../images/layerbg-bottom.png");
    height: 185px;
    background-position: bottom left;
}
.getbest-icon{
    margin-bottom: 20px;
}
.automate-management-section{
    padding: 0px 0px 60px;
    background: linear-gradient(180deg, rgba(255, 238, 238, 0.00) 10.94%, #FEE 100%);
}
h2.section-title{
    font-family: 'NeurialGroteskBold';
    font-size: 70px;
    line-height: 77px;
    text-transform: capitalize;
    color: #000000;
}
.automate-management-section .recommended-box{
    background-color: transparent;
    border: 0px;
    text-align: center;
    padding: 0px 15px;
    overflow: visible;
    margin-bottom: 100px;
    position: relative;
}
.automate-management-section .recommended-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 210px;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    display: none;
}

.recommended-box.billingbg{
	position: relative;
}
.recommended-box.billingbg:before{
    background-image: url(../images/billingbg.png);
}
.recommended-box.reportbg:before{
    background-image: url(../images/reportbg.png);
}
.recommended-box.accessbg:before{
    background-image: url(../images/accessbg.png);
}
.recommended-box.feedbackbg:before{
    background-image: url(../images/feedback.png);
}
.recommended-box.feedbackbg:before{
    background-image: url(../images/feedback.png);
}
.recommended-box.im:before{
    background-image: url(../images/imbg.png);
}
.recommended-box.marketingbg:before{
    background-image: url(../images/marketingbg.png);
}
.recommended-box.retainbg:before{
    background-image: url(../images/retainbg.png);
}
.recommended-box.stockbgg:before{
    background-image: url(../images/stockbgg.png);
}
.recommended-box.staffbgg:before{
    background-image: url(../images/staffbg.png);
}



.automate-management-section .recommended-box .automate-box{
    background-color: #E6FAFF;
    border-radius: 45px;
    height: auto;
    position: relative;
    padding: 40px 20px;
    box-shadow: 0px 0px 10px 0px #dddddd;
    height: 430px;
}
.automate-icon{
    margin-bottom: 10px;
}
.automate-management-section .recommended-box h6{
    font-size: 30px;
    background-color: transparent;
    padding: 20px 0px;
    margin-bottom: 0px;
}
.automate-box p{
    font-size: 20px;
}
.retrain-more .recommended-box p {
    background-color: transparent;
    color: #000;
    font-size: 20px;
    line-height: 40px;
}
.trusted-by h2.section-title{
    text-align: center;
    margin-bottom: 100px;
}
.trusted-by{
    padding: 100px 0px 100px;
}
.logos img{
    width: 100%;
}
.client-logos-wrapper .owl-nav{
    text-align: center;
    margin-top: 20px;
}
.client-logos-wrapper .owl-nav button span{
    font-size: 20px;
    display: inline-block;
    top: -2px;
    position: relative;
}
.client-logos-wrapper .owl-nav button{
    margin: 0px 5px;
    background-color: #ffb3c5 !important;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.video-section-wrapper h4{
    font-size: 60px;
    line-height: 80px;
}
.video-section-wrapper h4 b{
    font-family: 'NeurialGroteskBold';
}
.video-section-wrapper a{
    font-size: 18px;
    line-height: 22px;
    color: #407BFF;
    display: block;
    margin-top: 50px;
}
.video-section-wrapper a i{
    font-size: 30px;
    line-height: 22px;
    position: relative;
    top: 6px;
    color: #407BFF;
}
.owl-two.owl-carousel .owl-nav{
    display: none;
}
.owl-two.owl-carousel button{
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #407BFF;
    border-radius: 100px;
    margin: 0px 4px;
}
.owl-two.owl-carousel button.owl-dot.active{
    background: #407BFF;
}
.owl-two.owl-carousel .owl-dots{
    margin-top: 30px;
    text-align: center;
}

.footer-green{
    background-image: url(../images/footertopbg.jpg);
    padding: 0px 20px;
    background-size: cover;
}
.easylogo img{
    width: auto;
    margin-top: -65px;
}
.easylogo{
    text-align: center;
}
.video-section-wrapper{
    padding-top: 60px;
    padding-bottom: 30px;
}
.readyto h2{
    font-size: 80px;
    font-family: 'NeurialGroteskBold';
    line-height: 100px;
    color: #000000;
}
.readyto p{
    font-size: 26px;
    font-family: NeurialGroteskRegular;
    line-height: 45px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.readyto .button-group .btn.grey-button.btn-primary{
    margin-right: 20px;
}
.footer-green .btn.phnobtn{
    width: 350px;
}
.footer-green .btn{
    font-size: 22px;
    font-family: 'NeurialGroteskMedium';
}
.btn.demobtn{
    width: 230px;
}
.readyto .button-group{
    margin-top: 30px;
}
.readyto{
    padding: 90px 0px;
}
.footer-links h6{
    font-size: 24px;
    line-height: 36px;
    font-family: 'NeurialGroteskBold';
    margin-bottom: 20px;
}
.footer-links ul{
    margin: 0px;
    padding: 0px;
}
.footer-links ul li{
    list-style: none;
}
.footer-links ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'NeurialGroteskMedium';
    margin-bottom: 12px;
    display: block;
}
.countries-list li{
    width: 50%;
    display: flex;
}
.countries-list{
    display: flex;
    flex-wrap: wrap;
}
.footer-links ul li a i{
    margin-left: 10px;
}
.main-footer {
    padding: 80px 20px 50px;
}
.footer-subscribe h5{
    font-size: 28px;
    line-height: 42px;
    font-family: 'NeurialGroteskMedium';
}
.footer-subscribe input{
    background: #F5F5F5;
    border-radius: 10px;
    height: 68px;
}
.footer-subscribe .btn{
    height: 68px;
    border-radius: 10px;
    width: 100%;
    background-color: #000000;
}
.header-wrapper.inner-page-header{
    position: static;
}
.green-bg-color{
  background-color: #00FFBF;
}
.light-green-color{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 10.94%, rgba(39, 222, 191, 0.15) 100%);
}
.banner-section-wrapper.rounded-corner-banners{
    border-radius: 40px;
    margin: 0px 60px;
    background-color: #FEFADC;
    background-image: none;
    padding: 150px 0px 150px;
}
.banner-section-wrapper.rounded-corner-banners.marketing-banner{
    padding: 260px 0px 450px;
    background: transparent;
    background-repeat: no-repeat;
}
.banner-section-wrapper.marketing-banner h1{
    margin-bottom: 60px;
}
.lightgreen-color{
    background-color: #00FF7F;
}
.lightgreen-gradiant-color{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 0%, rgba(0, 255, 127, 0.20) 100%);
}
.blackcolor{
    color: #000000 !important;
}
.blackmenu .navbar-expand-md .navbar-nav .nav-link{
    color: #000000;
}
.blackmenu .social-icons ul li a{
    color: #000000;
}


.video-section-wrapper.video-yellow-bg{
    padding: 0px;
}
.yellow-bg-color{
    padding: 60px 0px;
    background-image: url(../images/ateasybg.png);
}
.light-yellow-color{
    background: linear-gradient(180deg, rgba(255, 238, 238, 0.00) 10.94%, #FEE 100%);
}
.light-blue-color{
    background-color: #EBEEFF;
}
.video-section-wrapper.video-marketing-page{
    padding-top: 100px;
    margin-top: 0px;
    padding-bottom: 100px;
}
.yellow-layer{
    text-align: center;
}
.yellow-layer p{
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 50px;
}
.yellow-layer b{
    font-weight: 700;
    font-size: 25px;
}
.padding-top-bottom-60{
    padding: 60px 0px;
}
.spaceleft-right.padding-top-bottom-60{
    padding: 60px 0px;
}

.layer-text{
    text-align: center;
}
.layer-text p{
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 50px;
}
.layer-text b{
    font-weight: 700;
    font-size: 25px;
}

.videobgg-top img{
    width: 100%;
}
.videobgg-bottom img{
    width: 100%;
}
.qrcode-section-wrapper.uniqueqrportal{
    margin-top: -450px;
    padding-bottom: 100px;
    position: relative;
}

.qrcode-section-wrapper.uniqueqrportal.marketing-banner-image .qrcode-content p{
    margin-top: 60px;
    font-size: 30px;
}
.qrcode-section-wrapper.uniqueqrportal.marketing-banner-image .qrcode img{
    max-width: 100%;
}
.feature-image{
    text-align: center;
    padding: 0px 20px;
}
.feature-box-row{
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.feature-box h3{
    font-size: 40px;
    font-family: 'NeurialGroteskMedium';
    margin-bottom: 30px;
}
.feature-box p{
    font-size: 25px;
    line-height: 40px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.feature-image img {
    max-width: 100%;
}
.light-green-content{
    border-radius: 100px 100px 0px 0px;
    background: #BFF4B8;
    padding: 60px;
    text-align: center;
}
.light-green-content{
    color: #006A43;
    font-size: 22px;
    line-height: 40px;
    padding: 60px 60px 150px;
}
.trustedby-green{
    margin-top: 100px;
}
.dark-green-content {
    border-radius: 100px 100px 0px 0px;
    background: #006A43;
    margin-top: -100px;
    z-index: 2;
    position: relative;
    padding: 100px 60px 60px;
}
.light-green-content b{
    margin-top: 30px;
    display: block;
}
.dark-green-content h2.section-title{
    color: #ffffff;
}
.dark-green-content p{
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
}
.drive-impact h3{
    font-size: 60px;
}
.video-section-wrapper.drive-impact{
    padding-top: 150px;
}
.tes-logo img{
    max-width: 100%;
    width: auto !important;
}
.testimonial-content h6{
    display: flex;
    align-items: center;
}
.tes-logo{
    margin-left: 20px;
}
.testimonial-content{
    border-radius: 21px;
    background: #C1FFE1;
    padding: 40px;
}
.testimonial-content p{
    font-size: 28px;
    line-height: 50px;
}
.testimonial-content h6{
    font-size: 20px;
}
.banner-section-wrapper.rounded-corner-banners.properties-management-banner{
    padding: 150px 0px 450px;
}
.banner-section-wrapper.rounded-corner-banners.appointment-management-banner{
    margin-bottom: 100px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.btn.big-btn{
    font-size: 22px;
    font-weight: 500;
    height: 65px;
    padding: 15px 50px;
    width: auto;
}
.banner-section-wrapper.rounded-corner-banners.properties-management-banner{
    background: #E6F4FF;
}
.green-thumb-section .thumb-style{
    background: #E6FAFF;
    box-shadow: 0px 0px 10px #dddddd;
}
.some-features .thumb-style{
    height: 500px;
}
.some-features .thumb-style h5{
    line-height: 30px;
}
.management-thumb-style .thumb-style p{
    font-size: 20px;
}
.orange-thumb{
    background: #FF725E;
}
.purple-thumb{
    background: #5E4CFF;
}
.red-thumb{
    background: #DE3163;
}
.purpletwo-thumb{
    background: #8338EC;
}
.green-thumb{
    background: #16DB93;
}
.bluetwo-thumb{
    background: #3A86FF;
}
.redtwo-thumb{
    background: #F51E52;
}
.lightblue-thumb{
    background: #008DCF;
}
.purple-thumb{
    background: #5E4CFF;
}
.cream-thumb{
    background: #FEFADC;
}
.pink-thumb{
    background: #FFDBD5;
}
.banner-section-wrapper p{
    font-size: 30px;
    line-height: 50px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.banner-section-wrapper.rounded-corner-banners.appointment-management-banner{
    background: transparent;
}
.seeav-thumb{
    background: #E6F4FF;
}
.makequick-thumb{
    background: #C1FFE1;
}
.appointment-thumb{
    background: #C7FEFF;
}
.pp-thumb{
    background: #FEFADC;
}
.pos-thumb{
    background: #FFDBD5;
}
.marketing-thumb{
    background: #FFF0E3;
}
.letyour-thumb{
    background: #E8F8CE;
}
.product-inventory-thumb{
    background: #C5E5FF;
}
.reporting-thumb{
    background: #F5E8FF;
}
.getmore-thumb{
    background: #C7FEFF;
}
.light-green-content.light-pink-content{
    background: #F9CCCE;
    padding-top: 100px;
    padding-bottom: 200px;
}
.banner-section-wrapper.rounded-corner-banners.easyspa-banner{
    background-color: #B4E7EA;
}
.banner-section-wrapper.rounded-corner-banners.sellgift-banner{
    background: #FFE280;
}
.margintop100{
    margin-top: 100px;
}
.margintop60{
    margin-top: 60px;
}
.banner-section-wrapper.rounded-corner-banners.employee-banner{
    background: #C7FEFF;
}
.banner-section-wrapper.rounded-corner-banners.billingpayment-banner{
    background: #F5E8FF;
}
.banner-section-wrapper.rounded-corner-banners.report-graph-banner{
    background: #EBF2FF;
}
.banner-section-wrapper.rounded-corner-banners.inventory-management-banner{
    background-color: #38E1C0;
}
.light-green-content.grey-bgg{
    background: #EBF2FF;
}
.light-green-content.grey-bgg p{    
    color: #000000;
}
.light-green-content.grey-bgg b{    
    color: #000000;
}
.some-features.key-features .thumb-style{
    height: 470px;
}
.light-green-content.light-pink-content h3{
    font-size: 60px;
    color: #282828;
    text-align: center;
    font-weight: 700;
}
.quality-wrapper h6{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}
.light-green-content.skyblue-content{
    background: #B4E7EA;
}
.trustedby-green-wrapper h3{
    font-size: 60px;
    color: #282828;
    text-align: center;
    font-weight: 700;
}
.margin-top-100{
    margin-top: 100px;
}
header .navbar-nav.me-auto{
    margin-left: inherit !important;
    margin-right: 0px !important;
    margin-right: auto !important;
}
.banner-section-wrapper.rounded-corner-banners.tatto-banner{
    background: #C5E5FF;
}
.banner-section-wrapper.rounded-corner-banners.carspa-banner{
    background: #FFDED3;
}
.banner-section-wrapper.rounded-corner-banners.naiart-banner{
    background-color: #FEFADC;
}
.banner-section-wrapper.rounded-corner-banners.easypet-banner{
    background: #DCFEFE;
}
.navbar-expand-md .navbar-nav{
	position: relative;
}
/*.navbar-expand-md .navbar-nav li ul{
	position: absolute;
    background-color: #ffffff;
    margin: 0px;
    padding: 40px 20px;
	box-shadow: 0px 0px 10px 0px #f2f2f2f2;
	width: 1180px;
    display: flex;
	flex-wrap: wrap;
	margin-left: -200px;
	display: none;
	z-index: 20;
}*/
.navbar-expand-md .navbar-nav li .submenu-wrapper{
    position: absolute;
    background-color: #ffffff;
    margin: 0px;
    padding: 40px 40px 0px;
	box-shadow: 0px 0px 10px 0px #f2f2f2f2;
	width: 1180px;
    display: flex;
	margin-left: -200px;
	display: none;
	z-index: 20;
}
.navbar-expand-md .navbar-nav li:hover .submenu-wrapper{
	display: flex;
}
.navbar-expand-md .navbar-nav li ul li{
	list-style: none;
	width: 33%;
    margin-bottom: 30px;
    float: left;
    min-height: 100px;
}
.navbar-expand-md .navbar-nav li ul{
    padding-left: 0px;
}
.nav-link-peragraph{
    margin-bottom: 40px;
}
.linkicon{
	margin-right: 10px;
}
.menulink-text{
	padding-right: 35px;
}
.nav-item .menulink-text h6{
	font-weight: 700;
	font-size: 18px;
}
.menulink{
    display: flex;
    text-decoration: none;
    color: #000000;
}
.menulink .linkicon{
    flex-shrink: 0;
}
.menulink-text{
    padding-right: 35px;
}
.menulink-text h6 {
    font-weight: 500;
    font-size: 20px;
}
.menulink-text p {
    font-size: 18px;
}
.nav-item h6{
    font-size: 25px;
    color: #000;
    font-weight: 700;
}
.nav-item p{
    font-size: 16px;
    color: #000;
}
.main-footer .social-icons ul li a{
    color: #000000;
}
.magenta-bg-color{
    background-color: #F51E52;
}
.light-magenta-color{
    background: linear-gradient(180deg, rgba(229, 238, 255, 0.00) 10.94%, rgba(255, 114, 94, 0.20) 100%);
}
.margin-top-60{
    margin-top: 60px;
}
.nobg{
    background: transparent !important;
}
.quality-box h6{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 30px;
    letter-spacing: 1px;
}
.footer-subscribe .btn:hover{
    color: #ffffff;
    background: #F51E52;
}
.padding-top-bottom100{
    padding:100px 0px;
}
.heart-image-top{
    position: relative;
}
.heart-image-top span{
    position: absolute;
    width: 90px;
    display: inline-block;
    right: -30px;
    top: -50px;
}
.heart-image-bottom{
    position: relative;
}
.heart-image-bottom span{
    position: absolute;
    width: 60px;
    display: inline-block;
    bottom: -25px;
    right: -10px;
}
.our-highlights-wrapper .owl-carousel .owl-stage-outer{
    padding: 100px 0px;
}
.our-highlights-wrapper .owl-carousel .owl-stage-outer .owl-stage .owl-item:nth-of-type(odd){
    margin-top: -40px;
}
.our-highlights-section-wrapper{
    padding: 100px 0px 20px;
}
.unique-qr-portal-section{
    position: relative;
    padding-bottom: 30px;
}
.unique-qr-portal-section .owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c4c4c4;
    margin: 0px 10px;
    border-radius: 50px;
}
.unique-qr-portal-section .owl-dot.active span{
    background-color: #edba37;
}
.unique-qr-portal-section .owl-dots{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -50px;
}
.unique-qr-portal-section .owl-nav{
    display: none;
}
.qr-portal-slider-wrapper h4{
    font-size: 40px;
    font-family: 'NeurialGroteskMedium';
    margin-bottom: 30px;
}
.qr-portal-slider-wrapper p{
    font-size: 24px;
}
.padding-bottom-100{
    padding-bottom: 100px;
}
.thumbnail-box-style .row{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.thumbnail-box-style .col-lg-4{
    background-color: #E6FAFF;
    border-radius: 45px;
    height: auto;
    position: relative;
    padding: 40px 20px;
    box-shadow: 0px 0px 10px 0px #dddddd;
    margin: 0px 20px 80px;
    width: 29%;
}
.some-features .thumbnail-box-style .col-lg-6{
    background-color: #E6FAFF;
    border-radius: 45px;
    height: auto;
    position: relative;
    padding: 40px 30px;
    box-shadow: 0px 0px 10px 0px #dddddd;
    margin: 0px 20px 80px;
    width: 45%;
}
.padding-bottom-40{
    padding-bottom: 40px;
}
.some-features .thumbnail-box-style .recommended-box h6{
    font-size: 25px;
    font-family: 'NeurialGroteskBold';
    margin-bottom: 20px;
    text-transform: capitalize;
}
.some-features .thumbnail-box-style .recommended-box .automate-icon{
    margin-bottom: 30px;
}
.some-features .thumbnail-box-style .recommended-box p{
    font-size: 20px;
    margin-bottom: 0px 
}
.thumbnail-box-style.white-color-thumbnail .col-lg-4{
    background-color: #ffffff;
}
.thumbnail-box-style.white-color-thumbnail h5{
    font-weight: 500;
    font-size: 25px;
    font-family: 'NeurialGroteskBold';
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #000000;
}
.thumbnail-box-style.white-color-thumbnail .thumb-stack{
    box-shadow: none;
}



.thumbnail-box-style.grey-color-thumbnail .col-lg-4{
    background-color: #F5F5F5;
}
.thumbnail-box-style.grey-color-thumbnail h5{
    font-weight: 500;
    font-size: 25px;
    font-family: 'NeurialGroteskBold';
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #000000;
}
.thumbnail-box-style.grey-color-thumbnail .thumb-stack{
    box-shadow: none;
}
.automate-management-section.thumbnail-box-style .recommended-box{
    margin-bottom: 0px;
}
.owl-one.slider_active .owl-stage{
    display: flex;
    align-items: center;
    transition-timing-function: linear !important;
}

.tns-outer{
    position: relative;
}
.tns-outer .tns-nav{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -60px;
}
.tns-nav button{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c4c4c4;
    margin: 0px 10px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 0px;
}
.tns-nav button.tns-nav-active{
    background-color: #edba37;
}
.tns-controls{
    display: none;
}
.our-highlights-wrapper .owl-dots{
    display: none;
}
.swiper{
    width: 100%;
    height: 450px;
}
.swiper-pagination{
    left: 0px !important;
}
.qr-portal-slider-wrapper .title-and-text{
    padding-left: 40px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #edba37;
}

@media only screen and (min-width:1920px){

	.container-fluid{
		width: 1720px;
	}
}
@media only screen and (max-width:1440px){

    .banner-section-wrapper .margin-top-70{
        margin-top: 0px;
    }
    .banner-section-wrapper p{
        font-size: 26px;
    }
    .banner-section-wrapper h1{
        font-size: 60px;
    }
    .button-group.banner-button .btn{
        margin-bottom: 20px;
    }
    .qrcode-content p br{
        display: none;
    }
    .thumb-style{
        height: 430px;
    }
    .automate-management-section .recommended-box .automate-box{
        height: 500px;
    }
    .readyto h2 br{
        display: none;
    }
    .readyto h2{
        font-size: 60px;
        line-height: 80px;
    }
    .readyto p br{
        display: none;
    }
    .footer-green .btn.phnobtn{
        margin-bottom: 20px;
    }
    .banner-section-wrapper.marketing-banner h1{
        margin-bottom: 120px;
    }
    .qrcode-section-wrapper.uniqueqrportal {
        margin-top: -540px;
    }
    h2.section-title {
        font-size: 55px;
    }
    .videobgg-top{
        margin-bottom: -5px;
    }
    .videobgg-bottom{
        margin-top: -5px;
    }
    .some-features .thumb-style {
        height: 600px;
    }
    .banner-section-wrapper .margin-top-150{
        margin-top: 80px;
    }
    .banner-section-wrapper.sellgift-banner .margin-top-150{
        margin-top: 80px;
    }
    .navbar-expand-md .navbar-nav li .submenu-wrapper{
        width: 1000px
    }
}
@media only screen and (max-width:1199px){

    .section-title br{
        display: none;
    }
    .navbar-expand-md .navbar-nav li:hover .submenu-wrapper{
        flex-direction: column;
    }
    .tabimage{
        width: 300px;
        margin: auto;
    }
    .tabimage img{
        width: 100%;
    }
    .navbar-expand-md .navbar-nav li .submenu-wrapper{
        width: 820px;
    }
    .btn{
        width: 150px;
    }
    .phnobtn{
        width: 200px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-size: 20px;
        padding: 15px 25px;
    }
    .some-features .thumb-style{
        height: 860px;
    }
    .unique-qr-portal h2 br{
        display: none;
    }
    .thumb-style{
        display: block;
    }
    .thumb-style{
        height: auto;
    }
    .btn{
        padding: 12px 10px;
        margin-bottom: 15px;
    }
    .recommended-box h6{
        padding: 20px;
        font-size: 20px;
    }
    .unique-qr-portal.retain-more-clients-section{
        padding: 100px 0px 0px;
    }
    h2.section-title br{
        display: none;
    }
    .automate-management-section .recommended-box{
        padding: 0px 10px;
    }
    .automate-management-section .recommended-box .automate-box{
        height: 700px;
    }
    .trusted-by {
        padding: 100px 0px 150px;
    }
    .readyto h2 {
        font-size: 50px;
        line-height: 70px;
    }
    .readyto p{
        font-size: 25px;
        line-height: 45px;
    }
    .easylogo img{
        width: auto;
        margin-top: -85px;
    }
    h2.section-title{
        font-size: 50px;
        line-height: 65px;
    }
    .qrcode-section-wrapper.uniqueqrportal{
        margin-top: -430px;
    }
    .banner-section-wrapper.marketing-banner h1 {
        margin-bottom: 0px;
    }
    .spaceleft-right{
        padding: 0px 20px;
    }
    .some-features.key-features .thumb-style{
        height: 540px;
    }
    .some-features .thumbnail-box-style .col-lg-6{
        width: 43%;
    }
    .qr-portal-slider-wrapper h4{
        font-size: 30px;
    }
    .qr-portal-slider-wrapper p {
        font-size: 22px;
    }
    
}
@media only screen and (max-width:991px){

    .banner-section-wrapper.rounded-corner-banners.properties-management-banner{
        padding: 260px 0px 310px
    }
    .banner-section-wrapper.properties-management-banner .margin-top-70{
        margin-top: 0px;
    }
    .some-features .thumb-style {
        height: auto;
    }
    .spaceleft-right.blue-bg-color{
        padding: 60px 20px;
    }
    .layer-text{
        margin-top: 60px;
    }
    .col-reverse{
        flex-direction: column-reverse;
    }
    .feature-section-wrapper{
        text-align: center;
    }
    .feature-image{
        margin-bottom: 30px;
    }
    .feature-box-row{
        margin-bottom: 60px;
    }
    .videobgg-top{
        margin-bottom: -5px;
    }
    .videobgg-bottom{
        margin-top: -5px;
    }
    .spaceleft-right.yellow-bg-color{
        padding: 60px 20px;
    }
    .spaceleft-right{
        padding: 0px 20px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 15px 20px;
    }
    .btn{
        width: 150px;
    }
    .phnobtn{
        width: 200px;
    }
    .button-group.banner-button{
        margin-bottom: 0px;
    }
    .qrcode-content p{
        font-size: 30px;
        line-height: 54px;
    }
    .automate-management-section .recommended-box .automate-box {
        height: auto;
    }
    .video-section-wrapper {
        padding-top: 60px;
    }
    .video-crausel{
        margin-top: 60px;
    }
    .footer-links{
        margin-bottom: 40px;
    }
    .layerbg-bottom{
        margin-top: -5px;
    }
    .getbest-section-title{
        margin-bottom: -5px;
    }
    .banner-section-wrapper.rounded-corner-banners.marketing-banner{
        padding: 260px 0px 310px;
    }
    .qrcode-section-wrapper.uniqueqrportal {
        margin-top: -360px;
    }
    .feature-section-wrapper.some-features .btn.big-btn{
        margin-bottom: 60px;
    }
    .video-section-wrapper.video-marketing-page{
        padding-top: 100px;
        margin-top: -35px;
    }
    .tab-space-80px{
        padding-bottom: 150px !important;
    }
    .readyto{
        padding: 0px 0px 100px;
    }
    .trusted-by{
        padding: 100px 0px 150px;
    }
    .navbar-expand-md .navbar-nav li .submenu-wrapper{
        width: 670px;
        padding: 40px 20px 0px;
    }
    .menulink-text{
        padding-right: 20px;
    }
    .banner-section-wrapper p{
        font-size: 24px;
        line-height: 40px;
    }
    .banner-section-wrapper.rounded-corner-banners{
        padding: 150px 0px 100px;
    }
    .feature-section-wrapper.some-features.margin-top-150{
        margin-top: 100px
    }
    .banner-image{
        margin-top: 40px;
    }
    .quality-box{
        margin-bottom: 60px;
    }
    .thumbnail-box-style .col-lg-4{
        width: 25%;
        margin: 0px 15px 50px;
        padding: 40px 10px;
    }
    br{
        display: none;
    }
    .banner-section-wrapper h1{
        font-size: 50px;
    }
    .automate-management-section .recommended-box h6{
        font-size: 25px;
    }
    .automate-management-section .recommended-box{
        padding: 0px 0px;
    }
    .automate-icon img{
        width: 135px;
    }
    .navbar-expand-md .navbar-nav li ul li{
        width: 50%;
    }
}
@media only screen and (max-width:767px){

    .menulink-text {
        padding-right: 0px;
    }
    .banner-section-wrapper h1{
        word-wrap: break-word;
    }
    .qrcode-content p {
        font-size: 24px;
        line-height: 44px;
    }
    .qrcode-content p{
        margin-top: 30px;
    }
    .our-highlights-section-wrapper{
        padding: 60px 0px 20px;
    }
    .thumbnail-box-style .col-lg-4{
        width: 44%;
    }
    .feature-section-wrapper.some-features.padding-bottom-100{
        padding-bottom: 0px; 
    }
    .layer-text .section-title.margin-bottom-100{
        margin-bottom: 60px;
    }
    .some-features.key-features .thumb-style{
        height: auto;
    }
    .navbar .button-group{
        margin: 0px 20px;
    }
    .btn.big-btn{
        font-size: 20px;
        height: 60px;
    }
    .trusted-by h2.section-title{
        margin-bottom: 60px;
    }
    .tab-space-80px{
        padding-bottom: 80px !important;
    }
    .thumb-style{
        padding: 30px 20px;
    }
    .video-section-wrapper.video-marketing-page{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .video-section-wrapper.video-marketing-page{
        margin-top: -30px;
    }
    .navbar-toggler{
        border: 1px solid #000000;
        background-color: #F51E52;
    }
    .blackmenu .navbar-toggler{
        border: 1px solid #000000;
        background: #000000;
    }
    .navbar-collapse{
        background-color: #ffffff;
        padding: 20px 10px;
    }
    .btn.phnobtn{
        background: #000000;
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        color: #000;
    }
    .social-icons ul li a{
        color: #000000;
    }
    .social-icons ul {
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .unique-qr-portal h2{
        font-size: 50px;
    }
    .recommended-image img{
        width: 100%;
    }
    .getbest-section-title h2 {
        font-size: 40px;
        line-height: 60px;
    }
    h2.section-title {
        font-size: 50px;
        line-height: 70px;
    }
    .readyto {
        padding: 30px 10px 60px;
    }
    .main-footer .social-icons ul {
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .button-group.banner-button .btn {
        font-size: 18px;
        padding: 10px;
        margin-bottom: 20px !important;
        margin-left: 0px;
        margin-right: 0px;
    }
    .qrcode-section-wrapper {
        padding-bottom: 0px;
    }
    .qrcode-section-wrapper.uniqueqrportal {
        margin-top: -270px;
    }
    .navbar-expand-md .navbar-nav li .submenu-wrapper{
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
    .navbar-expand-md .navbar-nav li ul li{
        width: 100%;
    }
    .tabimage{
        width: 240px;
    }
    .feature-box h3{
        font-size: 35px;
    }
    .our-highlights-wrapper .owl-carousel .owl-stage-outer {
        padding: 100px 0px 40px;
    }
    .margin-bottom-60{
        margin-bottom: 30px;
    }
    .qr-portal-slider-wrapper h4{
        font-size: 28px;
    }
    .unique-qr-portal-section .owl-dots{
        position: static;
    }
    .unique-qr-portal-section .owl-dots{
        position: static;
        display: block;
        width: auto;
        text-align: center;
        margin-top: 40px;
    }
    .getbest-section-wrapper{
        padding: 60px 0px 10px;
    }
    .some-features .thumbnail-box-style .col-lg-6{
        width: 90%;
    }
    .some-features .thumbnail-box-style .col-lg-6{
        margin-bottom: 50px;
    }
    .feature-section-wrapper.some-features.padding-bottom-40{
        padding-bottom: 0px;
    }
    .navbar-expand-md .navbar-nav li .submenu-wrapper{
        display: flex;
    }
    .navbar-expand-md .navbar-nav li ul li{
        min-height: auto;
    }
    .navbar-expand-md .navbar-nav li .submenu-wrapper{
        padding: 40px 20px 0px;
    }
    .tabimage{
        display: none;
    }
    .margin-bottom-100 {
        margin-bottom: 60px;
    }
    .swiper {
        height: 550px;
    }
    .unique-qr-portal-section{
        padding-bottom: 60px;
    }
    .unique-qr-portal.retain-more-clients-section{
        padding: 60px 0px 0px;
    }
    .trusted-by {
        padding: 60px 0px 130px;
    }
    .main-footer {
        padding: 60px 20px 40px;
    }
    .qr-portal-slider-wrapper .title-and-text {
        padding-left: 0px;
    }
}
@media only screen and (max-width:575px){

    .layer-text .spaceleft-right.padding-top-bottom-60 {
        padding-bottom: 20px;
    }
    .feature-box-row {
        margin-bottom: 30px;
    }
    .unique-qr-portal .thumbnail-row{
        margin-top: 40px;
    }
    .navbar-expand-md .navbar-nav li ul li{
        min-height: auto;
    }
    br{
        display: none;
    }
    .video-section-wrapper a{
        margin-top: 20px;
    }
    .video-crausel {
        margin-top: 20px;
    }
    .some-features .thumbnail-box-style .col-lg-6{
        padding: 30px 20px;
    }
    .some-features .thumbnail-box-style .recommended-box .automate-icon{
        margin-bottom: 20px;
    }
    .thumbnail-box-style .col-lg-4{
        width: 95%;
    }
    .unique-qr-portal-section{
        padding-bottom: 30px;
    }
    .our-highlights-section-wrapper{
        padding: 60px 0px 20px;
    }
    .banner-section-wrapper.sellgift-banner .margin-top-150{
        margin-top: 30px;
    }
    .feature-section-wrapper .margin-bottom-100{
        margin-bottom: 30px;
    }
    .feature-section-wrapper.margintop100{
        margin-top: 60px;
    }
    .management-thumb-style .thumbicon{
        width: 200px;
        margin: auto auto 20px;
    }
    .qrcode-section-wrapper {
        margin-top: 0px;
    }
    .thumbicon img{
        width: 100%;
    }
    .qrcode-section-wrapper.uniqueqrportal{
        padding-bottom: 70px;
    }
    .qrcode-section-wrapper.uniqueqrportal.marketing-banner-image .qrcode-content p {
        margin-top: 40px;
        font-size: 20px;
    }
    .banner-section-wrapper.rounded-corner-banners.marketing-banner {
        padding: 170px 0px 150px;
    }
    .qrcode-section-wrapper.uniqueqrportal {
        margin-top: -150px;
    }
    .banner-section-wrapper.rounded-corner-banners.properties-management-banner {
        padding: 170px 0px 150px;
    }
    .layer-text p {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .layer-text b {
        font-size: 20px;
    }
    .feature-box h3 {
        font-size: 30px;
    }
    .footer-subscribe input{
        height: 50px;
    }
    .footer-subscribe .btn{
        height: 50px;
    }
    .videobgg-bottom {
        margin-top: -7px;
    }
    .footer-green {
        padding: 0px 0px;
    }
    .feature-box p {
        font-size: 20px;
        line-height: 35px;
    }
    .video-section-wrapper.video-marketing-page{
        margin-top: 0px;
        padding-top: 50px;
        padding-bottom: 60px !important;
    }
    .getbest-section-title h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .getbest-section-title{
        background-image: none;
        margin-top: 0px;
    }
    .unique-qr-portal{
        padding: 90px 0px 80px;
    }
    .unique-qr-portal h2 {
        font-size: 40px;
    }
    .banner-section-wrapper h1{
        font-size: 35px;
    }
    .spaceleft-right {
        padding: 0px 10px;
    }
    .btn.grey-button{
        width: 280px;
        font-size: 20px;
    }
    .footer-green .btn{
        font-size: 20px;
    }
    .footer-green .btn.phnobtn{
        width: 280px;
        margin-right: 0px;
        font-size: 18px;
    }
    .video-section-wrapper h4{
        font-size: 40px;
        line-height: 50px;
    }
    h2.section-title{
        font-size: 30px;
        line-height: 42px;
        padding: 0px 15px;
    }
    .navbar-brand img{
        width: 100%;
    }
    .navbar-brand{
        width: 170px;
        background-size: 100%;
    }
    .banner-section-wrapper{
        padding: 150px 0px 30px;
    }
    .button-group.banner-button{
        margin-top: 40px;
    }
    .btn.grey-button{
        width: 260px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 10px 20px;
        font-size: 18px;
    }
    .btn{
        padding: 8px 10px;
        font-size: 16px;
    }
    .qrcode-content p {
        font-size: 23px;
        line-height: 42px;
        margin-top: 20px;
    }
    .automate-management-section{
        padding: 0px 0px 0px;
    }
    .margin-top-100 {
        margin-top: 60px;
    }
    .video-section-wrapper {
        padding-top: 0px;
    }
    .readyto h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .readyto p {
        font-size: 20px;
        line-height: 35px;
    }
    .readyto {
        padding: 30px 10px 80px;
    }
    .footer-subscribe h5{
        font-size: 24px;
        margin-bottom: 30px;
        line-height: 38px;
    }
    .banner-section-wrapper .margin-top-150{
        margin-top: 30px;
    }
    .banner-section-wrapper p{
        font-size: 20px;
        line-height: 34px;
    }
    .banner-section-wrapper .margin-bottom-40{
        margin-bottom: 30px;
    }
    .banner-section-wrapper.rounded-corner-banners{
        padding: 150px 0px 60px;
    }
    .banner-image{
        margin-top: 20px;
    }
    .feature-section-wrapper.some-features.margin-top-150{
        margin-top: 60px;
    }
    .btn.big-btn{
        font-size: 18px;
        height: auto;
        padding: 10px 20px;
    }
    .navbar-collapse{
        padding: 20px 0px;
    }
    .nav-item h6{
        font-size: 20px;
    }
    .tabimage {
        width: 200px;
    }
    .quality-icon{
        width:180px;
        margin: auto;
    }
    .quality-icon img{
        width:100%;
    }
    .layer-text .section-title.margin-bottom-100{
        margin-bottom: 40px;
    }
    .margin-bottom-100 {
        margin-bottom: 60px;
    }
    .unique-qr-portal-section{
        text-align: center;
    }
    .qr-portal-slider-wrapper h4{
        margin-top: 0px;
        font-size: 24px;
    }
    .qr-portal-slider-wrapper p{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .home-page .banner-section-wrapper h1 span{
        display: block;
        margin-top: 20px;
    }
    .swiper {
        height: 490px;
    }
}